<!DOCTYPE html>
<html lang="en">

<head>
    <title>car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />


    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"><!-- 图标样式 -->
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="./css/car.css">

    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- 导航栏 -->
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <!--<script src="js/custom.js"></script>-->
    <script src="js/main.js"></script><!-- 导航栏 -->
    <script src="js/del.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <div class="w3ls-header">
            <div class="w3ls-header-left">
                <p>
                    <a href="#"><img style="position: relative;left: -10px; top: -1px" src="./images/shopping.png">
                        XB全新高端购物平台
                    </a>
                </p>
            </div>
            <div class="w3ls-header-right">
                <ul>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
                                aria-hidden="true"></i>人名<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">个人中心</a></li>
                            <li><a href="#">注销</a></li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="car.html" class="dropdown-toggle"><i class="fa fa-gift" aria-hidden="true"></i>购物车</a>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="waitPay.html" class="dropdown-toggle"><i class="fa fa-credit-card-alt"
                                aria-hidden="true"></i>待支付</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-two">
            <div class="container">
                <div class="header-logo">
                    <h1><a href="home.html"><span>X</span>Biao </a></h1>
                    <h6>Your stores. Your place.</h6>
                </div>
                <div class="header-search">
                    <!--<form action="#" method="post">
                        <input type="search" name="Search" placeholder="Search for a Product..." required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    </form>-->
                </div>
                <div class="header-cart">
                    <div class="my-account">
                        <a href="javascript:;"></a>
                    </div>
                    <div class="cart">
                        <a href="car.html">
                            <button class="w3view-cart" type="submit" name="submit" value=""><i
                                    class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header-three">
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li v-for="category in categoryList"><a href="javascript:void(0);" @click="toDetail(category)">{{category.className}}</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- products -->
    <div class="products">
        <div class="container">
            <div class="col-md-12 product-w3ls-right">
                <!-- breadcrumbs -->
                <ol class="breadcrumb breadcrumb1">
                    <li><a href="home.html">Home</a></li>
                    <li class="active">购物车</li>
                </ol>
                <div class="clearfix"> </div>
                <!-- //breadcrumbs -->

                <div class="shopping-car-container">
                    <div class="car-headers-menu">
                        <div class="row">
                            <div class="col-md-3 col-sm-2 col-xs-2 car-menu">商品信息</div>
                            <div class="col-md-3 col-sm-2 col-xs-2 car-menu">商品类型</div>
                            <div class="col-md-1 col-sm-2 col-xs-2 car-menu">单价</div>
                            <div class="col-md-2 col-sm-2 col-xs-2 car-menu">数量</div>
                            <div class="col-md-1 col-sm-2 col-xs-2 car-menu">金额</div>
                            <div class="col-md-2 col-sm-2 col-xs-2 car-menu">操作</div>
                        </div>
                    </div>
                    <div class="goods-content">
                        <div class="goods-item" v-for="(goods,index) in shopCarList">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-3 col-sm-2 col-xs-2 car-goods-info goods-image-column">
                                        <a href="goodsDetail.html">
                                            <img class="goods-image" :src="goods.product.image" />
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-2 col-xs-2 car-goods-info goods-params">
                                        <p class="goods-info">
                                            {{goods.product.title}}
                                        </p>
                                    </div>
                                    <div class="col-md-1 col-sm-2 col-xs-2 car-goods-info goods-price">
                                        <span class="goods-price single-price">￥{{goods.product.price}}</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 car-goods-info goods-counts">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button"
                                                    class="goods-sub btn btn-default car-decrease" @click="reduceCount(index)">-</button>
                                            </div><!--num form-control   goods-num form-control goods-count-->
                                            <input type="text" disabled class="goods-num form-control goods-count"
                                                v-model="goods.count">
                                            <div class="input-group-btn">
                                                <button type="button"
                                                    class="goods-add btn btn-default car-add" @click="addCount(index)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-2 col-xs-2 car-goods-info goods-money-count">
                                        <span class="goods-totalMoney single-total">￥{{goods.product.price*goods.count}}</span></div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 car-goods-info goods-operate">
                                        <a href="javascript:void(0);" class="btn btn-primary" @click="toWaitPay(goods.id)">结算</a>
                                        <a  href="javascript:void(0);" class="btn btn-danger item-delete" @click="doDelete(goods.id)">删除</a>
                                       <!-- data-toggle="modal" data-target=".bs-example-modal-sm"-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="goods-btns text-right">
                            <input disabled class="btn btn-default goodsList-totalMoney" :value="['$'+allMoney]">
                            <a class="btn btn-primary" href="javascript:void(0);" @click="toWaitPayAll">全部结算</a>
                        </div>
                    </div>
                    <!--删除确认弹框-->
                    <div class="modal fade  bs-example-modal-sm" tabindex="-1" role="dialog" id="deleteItemTip"
                        aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                                </div>
                                <div class="modal-body">
                                    确认删除此商品？
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary deleteSure">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //add-products -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//products-->

    <!--最热商品-->
    <div class="add-products">
        <h3 class="w3ls-title">热卖商品</h3>
        <div class="container">
            <div class="add-products-row">
                <div class=" w3ls-add-grids" v-for="p in HotShopProductList">
                    <a href="javascript:void(0);" @click="toProductDetail(p)">
                        <img :src="p.image">
                        <p>{{p.title}}<span>${{p.price}}</span></p>
                        <span @click="toProductDetail(p)">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-right">
        <div class="container">
            <p>Copyright &copy; 2020.XB All rights reserved.<a target="_blank" href="#"></a></p>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/layer.js"></script>
<script src="js/axios-0.19.2.min.js"></script>
<script src="js/vue-2.6.11.js"></script>
<script src="js/jquery-cookie-1.4.1.js"></script>
<script src="js/custom.js"></script>
<script>

    let vm=new Vue({
        el:'#app',
        data:{
            categoryList:{},
            HotShopProductList:{},
            title:"",
            shopCar:{count:1},
            loginUser:JSON.parse(localStorage.getItem("loginUser")),
            shopCarList:{},
            allMoney:0
        },
        methods:{
            selectCategoryList:function (){
                axios({
                    url:'/home/categoryList',
                    method:'get'
                }).then(res=>{
                    if (res.data.success){
                        this.categoryList=res.data.obj;
                    }
                }).catch();
            },
            selectHotShopProductList:function (isHot=1){
                axios({
                    url:`/home/productList/${isHot}`,
                    method:'get',
                    params:{title:this.title,pageCurrent:1,pageSize:4}
                }).then(res=>{
                    if (res.data.success){
                        this.HotShopProductList=res.data.obj.rows;
                    }
                }).catch();
            },
            toDetail:function (category) {
                sessionStorage.setItem("currentCategory",JSON.stringify(category));
                location.href='productList.html';
            },
            addCount:function (index) {
              let count=this.shopCarList[index].count;
              let shopCarId=this.shopCarList[index].id;
                axios({
                    url:`shopCar/updateShopCarCount/${shopCarId}/${count+1}`,
                    method:'put',
                }).then(res=>{
                    if (res.data.success){
                        this.shopCarList[index].count=count+1;
                        this.getAllMoney();
                    }
                }).catch();
            },
            reduceCount:function (index) {
                let count=this.shopCarList[index].count;
                let shopCarId=this.shopCarList[index].id;
                count--;
                if (count<=0){
                    layer.msg("不能再减少了")
                    return;
                }
                axios({
                    url:`shopCar/updateShopCarCount/${shopCarId}/${count}`,
                    method:'put',
                }).then(res=>{
                    if (res.data.success){
                        this.shopCarList[index].count=count;
                        this.getAllMoney();
                    }
                }).catch();

            },
            favoriteProduct:function () {
                axios({
                    url:`/user/favoriteProduct/${this.loginUser.id}/${this.product.id}`,
                    method:'get',
                }).then(res=>{
                    if (res.data.success){
                        layer.msg(res.data.msg);
                        this.isFavorite=res.data.obj;
                    }
                }).catch();
            },
            loginUserShopCar:function () {
                axios({
                    url:'/shopCar/loginUserShopCar',
                    method:'get',
                }).then(res=>{
                    if (res.data.success){
                        layer.msg(res.data.msg)
                        this.shopCarList=res.data.obj;
                        this.getAllMoney();
                    }
                }).catch();
            },
            toWaitPay:function (shopCarId) {
                axios({
                    url:`order/addOrder/${shopCarId}`,
                    method:'post'
                }).then(res=>{
                    if (res.data.success){
                        layer.msg(res.data.msg);
                        location.href='waitPay.html'
                    }
                    alert(res.data.msg)
                }).catch();

            },
            toWaitPayAll:function () {  //还没做
                axios({
                    url:`order/addOrderAll`,
                    method:'post'
                }).then(res=>{
                    if (res.data.success){
                        layer.msg(res.data.msg);
                        location.href='waitPay.html'
                    }
                    alert(res.data.msg)
                }).catch();

            },
            toProductDetail:function(product){
                sessionStorage.setItem("currentProductId",product.id);
                location.href='goodsDetail.html';
            },
            getAllMoney:function () {
                this.allMoney=0;
                for(let i=0;i<this.shopCarList.length;i++){
                    this.allMoney+=this.shopCarList[i].count*this.shopCarList[i].product.price;
                }
            },
            doDelete:function (shopCarId) {
                console.log(shopCarId);

                axios({
                    url:`shopCar/doDelete/${shopCarId}`,
                    method:'delete'
                }).then(res=>{
                    if (res.data.success){
                        this.loginUserShopCar();
                    }
                    alert(res.data.msg)
                }).catch();

            }

        },
        created:function () {
            this.selectCategoryList();
            this.loginUserShopCar();
            this.selectHotShopProductList();
        }
    })

</script>
</html>