<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/ken-burns.css" rel="stylesheet" type="text/css" media="all"/> <!-- 轮播图样式 -->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"><!-- 图标样式 -->
    <link rel="stylesheet" type="text/css" href="./css/home.css">

    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- 导航栏固定 -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script><!-- 过渡 -->
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.menu-aim.js"></script> <!-- 底部导航栏 -->
    <script src="js/main.js"></script><!-- 导航栏 -->

</head>

<body>
<div id="app">
<div class="header">
    <div class="w3ls-header">
        <div class="w3ls-header-left">
            <p>
                <a href="#"><img style="position: relative;left: -10px; top: -1px" src="./images/shopping.png">
                    XB全新高端购物平台
                </a>
            </p>
        </div>
        <div class="w3ls-header-right">
            <ul>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
                                                                                  aria-hidden="true"></i>人名<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="profile.html">个人中心</a></li>
                        <li><a href="login.html">注销</a></li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="car.html" class="dropdown-toggle"><i class="fa fa-gift" aria-hidden="true"></i>购物车</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="waitPay.html" class="dropdown-toggle"><i class="fa fa-credit-card-alt"
                                                                      aria-hidden="true"></i>待支付</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="header-two">
        <div class="container">
            <div class="header-logo">
                <h1><a href="home.html"><span>X</span>Biao </a></h1>
                <h6>Your stores. Your place.</h6>
            </div>
            <div class="header-search">
               <!-- <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Search for a Product..." required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>-->
            </div>
            <div class="header-cart">
                <div class="my-account">
                    <a href="javascript:;"></a>
                </div>
                <div class="cart">
                    <a href="car.html">
                        <button class="w3view-cart" type="submit" name="submit" value=""><i
                                class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-three">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li v-for="category in categoryList"><a href="javascript:void(0);" @click="toDetail(category)">{{category.className}}</a></li>
            </ul>
        </div>
    </div>
</div>

<!--轮播图-->
<div class="banner">
    <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000"
         data-pause="hover">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/5.jpg" alt="" class="img-responsive"/>
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated flipInX">Flat <span>50%</span> Discount</h3>
                    <h4 data-animation="animated flipInX">Hot Offer Today Only</h4>
                </div>
            </div>
            <div class="item">
                <!-- Second-Slide -->
                <img src="images/8.jpg" alt="" class="img-responsive"/>
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated fadeInDown">Our Latest Fashion Editorials</h3>
                    <h4 data-animation="animated fadeInUp">cupidatat non proident</h4>
                </div>
            </div>

            <div class="item">
                <!-- Third-Slide -->
                <img src="images/3.jpg" alt="" class="img-responsive"/>
                <div class="carousel-caption kb_caption kb_caption_center">
                    <h3 data-animation="animated fadeInLeft">End Of Season Sale</h3>
                    <h4 data-animation="animated flipInX">cupidatat non proident</h4>
                </div>
            </div>

        </div>
        <!-- Left-Button -->
        <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
            <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!-- Right-Button -->
        <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
            <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--最新商品-->
<div class="add-products">
    <div class="container">
        <h3 class="w3ls-title">最新商品</h3>
        <div class="add-products-row">

            <div class=" w3ls-add-grids" v-for="p in notHotProductList">
                <a href="javascript:void(0);" @click="toProductDetail(p)">
                    <img :src="p.image">
                    <p>{{p.title}}<span>${{p.price}}</span></p>
                    <span @click="toProductDetail(p)">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                </a>
            </div>

            <div class="clerfix"></div>
        </div>
    </div>
</div>

<!--最热商品-->
<div class="add-products">
    <h3 class="w3ls-title">热卖商品</h3>
    <div class="container">
        <div class="add-products-row">

            <div class=" w3ls-add-grids" v-for="p in hotProductList">
                <a href="javascript:void(0);" @click="toProductDetail(p)">
                    <img :src="p.image">
                    <p>{{p.title}}<span>${{p.price}}</span></p>
                    <span @click="toProductDetail(p)">Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                </a>
            </div>


    </div>
</div>
<div class="copy-right">
    <div class="container">
        <p>Copyright &copy; 2020.XB All rights reserved.<a target="_blank" href="#"></a></p>
    </div>
</div>
</div>
</div>
</body>


</html>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/layer.js"></script>
<script src="js/axios-0.19.2.min.js"></script>
<script src="js/vue-2.6.11.js"></script>
<script src="js/jquery-cookie-1.4.1.js"></script>
<script src="js/custom.js"></script>
<script>
	let vm=new Vue({
        el:'#app',
        data:{
            categoryList:{},
            hotProductList:{},
            notHotProductList:{},
            title:""
        },
        methods:{
           selectCategoryList:function (){
                axios({
                    url:'/home/categoryList',
                    method:'get'
                }).then(res=>{
                   if (res.data.success){
                       this.categoryList=res.data.obj;
                   }
                }).catch();
            },
            selectHotProductList:function (isHot=1){
                axios({
                    url:`/home/productList/${isHot}`,
                    method:'get',
                    params:{title:this.title,pageCurrent:1,pageSize:4}
                }).then(res=>{
                    if (res.data.success){
                        this.hotProductList=res.data.obj.rows;
                    }
                }).catch();
            },
            selectNotHotProductList:function (isHot=0){
                axios({
                    url:`/home/productList/${isHot}`,
                    method:'get',
                    params:{title:this.title,pageCurrent:1,pageSize:4}
                }).then(res=>{
                    if (res.data.success){
                        this.notHotProductList=res.data.obj.rows;
                    }
                }).catch();
            },
            toDetail:function (category) {
                sessionStorage.setItem("currentCategory",JSON.stringify(category));
                location.href='productList.html';
            },
            toProductDetail:function(product){
                sessionStorage.setItem("currentProductId",product.id);
                location.href='goodsDetail.html';
            }
        },
        created:function () {
            this.selectCategoryList();
            this.selectHotProductList();
            this.selectNotHotProductList();
        }
    })
</script>