<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.mapper.ProductMapper">




    <select id="selectAll" resultType="Product">
        SELECT
        product.id,
        product.class_id,
        product.`desc`,
        product.image,
        product.is_hot,
        product.price,
        product.publish_date,
        product.store_id,
        product.title,
        product.brows_count,
        category.class_name,
        store.store_name
        FROM
        product,
        category,
        store
        <where>
            product.class_id = category.id
            AND product.store_id = store.id
            <if test="categoryId != null and categoryId != ''">AND product.class_id = #{categoryId}</if>
            <if test="isHot != null and isHot != ''">AND product.is_hot = #{isHot}</if>
            <if test="title != null and title != ''">AND product.title LIKE CONCAT(
                '%',
                #{title},
                '%')
            </if>
            order by product.publish_date desc
        </where>
    </select>

    <select id="selectOne" parameterType="Integer" resultType="Product">
        SELECT
        product.id,
        product.class_id,
        product.`desc`,
        product.image,
        product.is_hot,
        product.price,
        product.publish_date,
        product.store_id,
        product.title,
        product.brows_count,
        product.image_detail,
        category.class_name,
        store.store_name
        FROM
        product,
        category,
        store
        <where>
        product.class_id = category.id
        AND product.store_id = store.id
        AND product.id=#{id}
        </where>
    </select>

    <select id="selectLoginUserNotPayOrder" parameterType="integer" resultType="map">
        SELECT
        order_item.*,
        product.*
        FROM
        product,
        order_item
        WHERE
        product.id = order_item.product_id
        AND order_item.order_id IN (
        SELECT
        `order`.id
        FROM
        `order`
        WHERE
        `order`.user_id = #{id} and `order`.state=1)
    </select>
    <select id="selectAllOrder"  parameterType="integer" resultType="map">
        SELECT
        `order`.state,
        order_item.*,
        product.*
        FROM
        product,
        order_item,
        `order`
      <where>
          product.id = order_item.product_id
          AND `order`.id = order_item.order_id
          AND order_item.order_id IN ( SELECT `order`.id FROM `order` WHERE `order`.user_id = #{id} )
          <if test="state != null and state != ''">  AND `order`.state = #{state}</if>
      </where>
    </select>

    <select id="selectUserFavorite" parameterType="integer" resultType="Product">
        SELECT
        product.*,
        store.store_name
        FROM
        product,
        store
        WHERE
        product.store_id = store.id
        AND product.id IN (
        SELECT
        user_favorite.product_id
        FROM
        user_favorite
        WHERE
        user_favorite.user_id = #{id})
    </select>



</mapper>